<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="add.model.cfm">
    <table>
        <tr>
            <td>Malzeme Adı</td>
            <td><input type="text" name="malzemeadi"></td>
        </tr>
        <tr>
            <td>Birim Fiyat</td>
            <td><input type="text" name="birimfiyat"></td>
        </tr>
        <tr>
            <td>Birim Kalori</td>
            <td><input type="text" name="birimgalori"></td>
        </tr>
        <tr>
            <td>Miktar</td>
            <td><input type="text" name="miktar"></td>
        </tr>
    </table>
    <button type="submit">Ekle</button>
    </form>
</body>
</html>