<cfobject name="mymodel" type="component" component="model">
<cfset mymodel.create(form.malzemeadi, form.birimfiyat, form.birimgalori, form.miktar)>
<script type="text/javascript">
    document.location.href = "list.cfm";
</script>