<cfobject name="mymodel" type="component" component="model">
<cfset mymodel.update(form.malzemeadi, form.birimfiyat, form.birimgalori, form.miktar, form.malzemelerid)>
<script type="text/javascript">
    document.location.href = "list.cfm";
</script>