<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<cfobject name="mymodel" type="component" component="model">
<cfset data = mymodel.read(url.malzemelerid)>
    <form method="POST" action="update.model.cfm">
        <cfoutput query="data">
            <input type="hidden" name="malzemelerid" value="#url.malzemelerid#">
    <table>
        <tr>
            <td>Malzeme Adı</td>
            <td><input type="text" name="malzemeadi" value="#data.malzemeadi#"></td>
        </tr>
        <tr>
            <td>Birim Fiyat</td>
            <td><input type="text" name="birimfiyat" value="#data.birimfiyat#"></td>
        </tr>
        <tr>
            <td>Birim Kalori</td>
            <td><input type="text" name="birimgalori" value="#data.birimgalori#"></td>
        </tr>
        <tr>
            <td>Miktar</td>
            <td><input type="text" name="miktar" value="#data.miktar#"></td>
        </tr>
    </table>
</cfoutput>
    <button type="submit">Ekle</button>
    </form>
</body>
</html>